<template>
  <div>
    <h3>
      <span class="badge">Zoe</span>
    </h3>>Software Engineer @ Flax & Teal
    Co-Organiser of Code Co-Op
    Outreach Manager at Farset Labs
    Champion at Farset Dojo
    Foundation Degree Student
    Founder of Belfast Tech Families
    <hr>Technical Skills
    Java Git Docker ReactJS Javascript HTML CSS
    Python C# Laravel
    <hr>Qualifications
    9 GCSEs (including Maths and English)
    3 AS Levels (B, B, C, D) 2 A Levels (B, D)
    Foundation Degree Software Engineering
    First Year: 78
    Second Year: Pending
    MTA Database Fundamentals: 92
    MTA Software Engineering: 85
  </div>
</template>

<script>
export default {
  name: "About" //this is the name of the component
};
</script>

