<template>
  <div>
    <h3>
      <span class="badge">Contact Me</span>
    </h3>
    <hr>07904787677
    <br>7 Bootle Street, Belfast, BT13 3GQ
    <br>zoe.gadonthompson@farsetlabs.org.uk
    <br>gingerzoealex.co.uk
    <br>github.com/gingerzoealex
    <br>https://www.linkedin.com/in/zoe-gadon-thompson-b33776169/
  </div>
</template>

<script>
export default {
  name: "Contact" //this is the name of the component
};
</script>
