<template>
  <div>
    <h3>
      <span class="badge">Experience</span>
    </h3>

    <hr>
    <h6>
      <span class="badge secondary">Professional Experience</span>
    </h6>January 2019 – present
    <br>Software Developer - Flax&Teal
    <br>- using open data & creating datasets using python
    - optimising libraries that return datasets
    - developing open source software
    - learning how to analyse data using python
    <hr>
    <h6>
      <span class="badge secondary">April 2015 - August 2017</span>
    </h6>Customer Service Advisor – NI Direct
    <br>- Front line service dealing with customers via phone
    - Handling sensitive customer info
    - Dealing with irate callers while staying professional and empathetic
    - Maintaining high KPIs to support my team
    <hr>
    <h6>
      <span class="badge secondary">January 2015 – April 2015</span>
    </h6>Customer Service Advisor – Convergys
    <br>- Dealing directly with customers via phone on behlaf of vodaphone
    - Mainting high standard of quality while providing excellent customer service
    - working with a team to ensure we meet SLAs
    <hr>
    <h6>
      <span class="badge secondary">October 2014 – January 2015</span>
    </h6>Care To Give Advisor – D3 Logic
    <br>- Door to door sales advisor
    - Encouraging people to sign up to a monthly direct debit for the WWF
    - Working in a competitive environment
    - Meeting daily targets
    - Interviewing and training new staff
    <hr>
    <h6>
      <span class="badge secondary">June 2014 – October 2014</span>
    </h6>Customer Service Advisor – Teleperformance
    <br>- Worked on 2 campaigns in this time: Her Majestys Passport Office & Student Loan Company
    -Working in a team to acheive high KPIs to help the campaign meet its SLA
    -Staying professional and helpful for the customer in a high pressure environment
    -Consistently highest performing team member
    <hr>
    <h6>
      <span class="badge secondary">May 2013 – Decmeber 2013</span>
    </h6>Floor staff – Snakes ‘n’ Ladders
    <br>- Organising children’s parties
    - Cleaning and tidying
    - Taking food orders
  </div>
</template>

<script>
export default {
  name: "Experience" //this is the name of the component
};
</script>
