<template>
  <div>
    <h1>Page Not Found</h1>
    oops
  </div>
</template>

<style scoped>
h1 {
  color: red
}
</style>

<script>
export default {
  name: 'PageNotFound' //this is the name of the component
}
</script>
