<template>
  <div>
    <h3>
      <span class="badge">Other Things I Do</span>
    </h3>
    <br>
    <h5>
      <span class="badge success">Event Organising</span>
    </h5>
    <br>
    <h6>
      <span class="badge secondary">Co-Organiser of Code Co-op</span>
    </h6>
    <br>
    <ul>
      <li>Running 2 events per month, a social and a coding challenge.</li>
      <li>Organising occasional special events</li>
      <li>Cyber Security Halloween Challenge</li>
      <li>Theme Challenge with Code for Good</li>
      <li>Open Source product/coding workshops(upcoming)</li>
      <li>Open data challenge (upcoming)</li>
    </ul>

    <br>
    <h6>
      <span class="badge secondary">Co-Organisor of Django Girls/WomenTechSpace</span>
    </h6>- Organising and mentoring at events
    <br>
    <br>
    <h6>
      <span class="badge secondary">Outreach Manager at Farset Labs</span>
    </h6>- Involves championing at Farset’s Coder Dojo
    <br>- Involves organising events like BelfastTechFamilies
    <br>
    <br>
    <hr>Other events include an all Women in Tech summer social (involving getting funding, promoting online, and dealing with catering and the venue), and the NI Game Awards 2018 (catering, promotion, award shortlistings)
    <br>
    <br>
    <h5>
      <span class="badge success">Public Speaking Events</span>
    </h5>
    <ul>
      <li>Bring IT On: IWD Event</li>
      <li>Django Girls</li>
      <li>NI Developer Conference</li>
      <li>Women Who Code</li>
      <li>BelfastJS</li>
      <li>Belfast Linux User Group</li>
    </ul>
    <h5>
      <span class="badge success">Volunteering</span>
    </h5>
    <ul>
      <li>Including the roles involved in Farset Labs</li>
      <li>Various volunteering roles since the age of 13</li>
      <li>NI Developer Conference</li>
      <li>FOSDEM Heralding (upcoming)</li>
      <li>Various STEM speaking/networking events at schools</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Skills" //this is the name of the component
};
</script>
