<template>
  <div>
    <div id="menu">
      <nav class="border .fixed split-nav">
        <div class="collapsible">
          <input id="collapsible1" type="checkbox" name="collapsible1">
          <button>
            <label for="collapsible1">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </label>
          </button>
          <div class="collapsible-body">
            <ul class="inline">
              <li>
                <router-link to="/" class="scrollactive-item">Home</router-link>
              </li>
              <li>
                <router-link to="/Experience" class="scrollactive-item">Professional Experience</router-link>
              </li>
              <li>
                <router-link to="/Skills" class="scrollactive-item">Other Things I Do</router-link>
              </li>
              <li>
                <router-link to="/Contact">Contact Me</router-link>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
    </div>
    <main>
      <router-view/>
    </main>
  </div>
</template>



<script>
export default {
  data: () => ({
    links: [
      {
        name: "Home",
        to: "/"
      },
      {
        name: "Experience",
        to: "/Experience"
      },
      {
        name: "Bad Link",
        to: "/random-bad-url"
      },
      {
        name: "About",
        to: "/About"
      },
      {
        name: "Skills",
        to: "/Skills"
      },
      {
        name: "Contact",
        to: "/Contact"
      }
    ]
  })
};
</script>
